@import "tailwindcss";

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #1e1e2e; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #6560EA; 
  border-radius: 10px; 
  border: 3px solid #1e1e2e; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7A75F0; 
}


* {
  scrollbar-width: thin; 
  scrollbar-color: #6560EA #1e1e2e; 
}